<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Ruta principal del repositorio-->
    <add key="RutaRepositorio" value="C:\Actualizador de aplicaciones\Repositorio"/>
    <!--Las extensiones incluidas en esta clave serán eliminadas al subir un paquete al repositorio-->
  </appSettings>
</configuration>